.home-main {
    width: 100%;
    height: 100%;

    @include gradient(mat-color($pr-pallete, A800), mat-color($pr-pallete, A700));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mat-button {
        width: 200px;
    }
}